<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Source code vailable @ <a href="https://github.com/WataNekko/aiot-beehive/site">https://github.com/WataNekko/aiot-beehive/site</a> (Probably) </p>
                        <p>We are:
		                <ul>
					        <li> <a href="mailto:18875@student.vgu.edu.vn"> Quan Nguyen Le Anh.</a></li>
				            <li> <a href="mailto:18874@student.vgu.edu.vn"> Son Nguyen Thanh.</a></li>
					        <li> <a href="mailto:17197@student.vgu.edu.vn"> Chuong Tran Ngoc Duy.</a></li>
                        </ul>
                        </p>
                        <p>Quick start Guide:
                            <a target="_blank" href="/assets/img/howto.webp"><img class="img-fluid" src="/assets/img/howto.webp" alt="..." > </a>
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>>
    </body>
</html>
